* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

html {
  background-image: url("https://images.unsplash.com/photo-1505051508008-923feaf90180?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-attachment: fixed;
  background-size: cover;
  font-size: 16px;
}

.Main {
  /* background-color: #d8d8d8; */
  /* background-image: url('https://images.unsplash.com/photo-1505051508008-923feaf90180?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
  background-attachment: fixed;
  background-size: cover; */

  height: 100vh;
  padding: 24px;
}

/* Input start*/

.InputWrap {
  margin: auto;

  display: flex;
  min-width: 35%;
  max-width: 50%;
  height: 50px;
  margin-bottom: 24px;
  border-radius: 12px;
  box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.25);

  box-shadow: 2.8px 2.8px 2.2px -7px rgba(0, 0, 0, 0.042),
    6.7px 6.7px 5.3px -7px rgba(0, 0, 0, 0.061),
    12.5px 12.5px 10px -7px rgba(0, 0, 0, 0.075),
    22.3px 22.3px 17.9px -7px rgba(0, 0, 0, 0.089),
    41.8px 41.8px 33.4px -7px rgba(0, 0, 0, 0.108),
    100px 100px 80px -7px rgba(0, 0, 0, 0.15);

  border: 2px solid rgba(246, 248, 250, 0.521);
}

.Input {
  width: 80%;
  padding: 4px 8px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  /* background-color: #3a8ac0; */

  /* background: rgb(169,216,247); */
  background: linear-gradient(
    190deg,
    rgba(169, 216, 247, 0.7615196591331845) 0%,
    rgba(54, 144, 202, 0.6018557935869661) 50%
  );
  font-size: 18px;
  color: #fff;
  border: none;
  outline: 0;
  font-family: "Montserrat";
}

.Button {
  width: 40%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #a4cff096;
  color: rgba(255, 255, 255, 0.541);
}

/*Input Finish*/
/*Card Start*/

.CardList {
  display: flex;
  max-width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 0 auto;
  /* flex-wrap: wrap; */
}

.Card {
  width: 200px;
  height: fit-content;
  padding: 12px;
  border-radius: 12px;
  margin-top: 25px;

  background: rgb(169, 216, 247);
  background: linear-gradient(
    190deg,
    rgba(169, 216, 247, 0.7615196591331845) 0%,
    rgba(54, 144, 202, 0.6018557935869661) 100%
  );

  font-size: 14px;
  color: #fff;
  /* margin-left: 24px; */
  box-shadow: 2.8px 2.8px 2.2px -7px rgba(0, 0, 0, 0.042),
    6.7px 6.7px 5.3px -7px rgba(0, 0, 0, 0.061),
    12.5px 12.5px 10px -7px rgba(0, 0, 0, 0.075),
    22.3px 22.3px 17.9px -7px rgba(0, 0, 0, 0.089),
    41.8px 41.8px 33.4px -7px rgba(0, 0, 0, 0.108),
    100px 100px 80px -7px rgba(0, 0, 0, 0.15);

  border: 2px solid rgba(246, 248, 250, 0.521);
  /* border-image: linear-gradient(135deg, #c8d5d6e0 10%,   #3c90df70 90%);
  overflow: hidden;
  border-image-slice: 1;
  border-radius: 25px; */

  text-decoration: none;
  display: block;
}

.Card:first-child {
  margin-left: 0;
}

.MainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Wrap_button_del {
  display: flex;
  justify-content: end;
}

.DeleteCitiCard {
  border: none;
  border-radius: 10px;
  padding: 2px;
  background: #52a9e7c9;
  color: #a02dec;
}

.EditCitiCard {
  border: none;
  border-radius: 8px;
  padding: 3px;
  background: #52a9e7c9;
  color: #f4f3f5;
  margin-right: 15px;
  font-size: 16px;
}

.Title {
  font-size: 2rem;
  font-weight: 400;
}

.Description {
  margin-top: 4px;
  font-size: 1rem;
}

.Temperature {
  margin-top: 12px;
  font-size: 2.5rem;
  font-weight: 500;
}
.Temperature::after {
  content: "°";
}

.Informaciton {
  margin-top: 12px;
  text-align: center;
  font-size: 1rem;
}

.Informaciton > div {
  margin-top: 4px;
}
/*Card Finish*/

.SingleCityWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DailyCards {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  /* overflow-x: scroll; */
  width: 100%;
  padding: 20px;
}

.DailyCard {
  max-width: 15%;
  margin-top: 15px;

  background: rgb(169, 216, 247);
  background: linear-gradient(
    190deg,
    rgba(169, 216, 247, 0.7615196591331845) 0%,
    rgba(54, 144, 202, 0.6018557935869661) 100%
  );

  border-radius: 1rem;
  margin-left: 8px;

  color: #fff;
  text-align: center;
  padding: 10px;

  box-shadow: 2.8px 2.8px 2.2px -7px rgba(0, 0, 0, 0.042),
    6.7px 6.7px 5.3px -7px rgba(0, 0, 0, 0.061),
    12.5px 12.5px 10px -7px rgba(0, 0, 0, 0.075),
    22.3px 22.3px 17.9px -7px rgba(0, 0, 0, 0.089),
    41.8px 41.8px 33.4px -7px rgba(0, 0, 0, 0.108),
    100px 100px 80px -7px rgba(0, 0, 0, 0.15);

  border: 2px solid rgba(246, 248, 250, 0.521);
}

.DailyDay::after {
  content: "°";
}

/* .DailyDescript{

} */

.DailyCard > img {
  margin: 0 auto;
  width: 70%;
}

.GoBack {
  color: #c3d2ddcc;
  font-size: 1.5rem;

  margin-bottom: 20px;
  text-decoration: none;
}

@media screen and (max-width: 760px) {
  html {
    font-size: 12px;
  }
  .InputWrap {
    min-width: 95%;
  }

  .Button {
    width: 45%;
  }

  .DailyCard {
    min-width: 35%;
  }
  .DailyCard > img {
    margin: 0 auto;
    width: 50%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
  .InputWrap {
    min-width: 90%;
  }

  .DailyCards {
    flex-direction: column;
  }

  .DailyCard {
    min-width: 70%;
  }
}
